*{
	margin:0;
}

.header{
	width: 100vw;
	height: 64vw;
	background: url('./assets/切图/上背景.png');
	background-size:cover;
    background-repeat:no-repeat;
}

.header-top{
	margin-top:10vw;
	width: 100%;
	height: 7.3vw;
	box-sizing:border-color;
}

.header-top-lefticon{
	width: 5.3vw;
	height: 5.3vw;
	float:left;
	margin:2vw;
}
.header-top-righticon{
	width: 5.3vw;
	height: 5.3vw;
	float:right;
	margin:2vw;
}

.header-top>h2{
	float:left;
	height: 7.3vw;
	width: 78vw;
	text-align:center;
	margin:1vw 0;
	line-height:7.3vw;
	font-size:5vw;
	color:#FFFFFF;
}

.header-button-group{
	margin-top:9vw;
}

.header-button{
	float:left;
	margin-left:11vw;
	width: 18vw;
	height: 27vw;
}

.header-button>img{
	width: 18vw;
	height: 18vw;
}

.header-button>h5{
	text-align: center;
	margin:4.8vw 0;
	font-size:4vw;
	color:#FFFFFF;
	font-weight:600;
}

.button-container{
	width: 98vw;
	height: 46vw;
	background-color:#FFFFFF;
	margin-bottom:3.9vw;
}

.functionBtn{
	width: 15vw;
	height: 16vw;
	margin:3.9vw 0 3.9vw 7.7vw;
	float:left;
}

.functionBtn>img{
	width: 10vw;
	height: 10vw;
}

.functionBtn>h5{
	text-align: center;
	font-size:3vw;
	font-weight:600;
	margin:3.9vw 0 0 0;
	color:#50547A;
}

.br{
	width: 100vw;
	height: 2vw;
	background-color:#EFEFEF;
}

.dsj{
	width: 98vw;
	height: 42vw;
	background-color:#FFFFFF;
}

.block-header{
	height: 4.3vw;
	width: 96vw;
	margin:3.9vw 2vw;
}

.showBlue{
	display:inline-block;
	height: 100%;
	width: 1.25vw;
	background-color:#338EFF;
	float:left;
}

.blockTitle{
	display:inline-block;
	height: 100%;
	line-height:100%;
	font-size:4.3vw;
	color:#000000;
	font-weight:600;
	margin-left: 3vw;
	float:left;
}

.jump{
	display:inline-block;
	height: 100%;
	width: 13vw;
	float:right;
	line-height:140%;
	font-size:3.3vw;
	text-align:left;
	color:#989898;
	text-align: right;
}

.jump>span{
	position: relative;
	bottom: 0.3vw;
}

.banner{
	height: 26vw;
	width: 96vw;
	margin-left:2vw;
	overflow-x:scroll;
}

.banner-box{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:nowrap;
	width:180.3vw;
	height: 26vw;
}

.bannerNews{
	width: 57vw;
	height: 25vw;
	box-sizing:content-box;
	margin-right:3.1vw;
	float:left;
	background: url('./assets/切图/上背景.png');
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:5px;
	box-shadow:0.4vw 1vw 0.7vw #B4CDEB;
}

.newBanner{
	width: 11vw;
	height: 4.44vw
}

.bannerTitle{
	margin:1vw 4vw;
	color:#FFFFFF;
}

.bannerContent{
	margin:0 4vw;
	color:#FFFFFF;
	font-size:0.8vw;
}

.yjxx{
	width: 98vw;
	height: 42vw;
	background-color:#FFFFFF;
}

.yjxxContent{
	margin-left:3vw;
	width:97vw;
	height:29vw;
	border-top:1px solid #C3C3C3;
	box-sizing:border-box;
}

.yjxxTitle{
	margin:2vw 0;
	height:3.88vw;
	line-height:3.88vw;
	font-size:3.88vw;
	color:#FF9D01;
	font-weight:600;
	padding-left:4.25vw;
}

.yjxxMain{
	height: 11vw;
	width: 92vw;
	padding-left:4.25vw;
	line-height:5.5vw;
	font-size:3.33vw;
	color:#4F547A;
}

.yjxxFooter{
	margin-top: 2vw;
	font-size:3.4vw;
	padding-left:4.25vw;
}

.gzdt,.tzgg{
	height:24vw;
	width: 98vw;
	background-color:#FFFFFF;
}

.gzdtContent,.tzggContent{
	margin-left:3vw;
	padding-left:4.25vw;
	width:97vw;
	height:19vw;
	border-top:1px solid #C3C3C3;
	box-sizing:border-box;
}

.newsTitle{
	line-height:10vw;
	font-size:3vw;
	float:left;
	color:#333333;
	font-weight:500;
}

.newsDate{
	line-height:10vw;
	font-size:3vw;
	float:right;
	margin-right:3vw;
	color:#9A9A9A;
	font-weight:600;
}

.footer{
	width:100vw;
	height:30vw;
	background-color:#ECECEC;
}

.footerLine{
	height:8.3vw;
	width:94vw;
	margin:0 2vw;
	border-bottom:1px solid #C3C3C3;
	text-align:center;
}

.footerWords{
	background-color:#ECECEC;
	position:relative;
	top:6vw;
	color:#C3C3C3;
}

.footerNav{
	width:100vw;
	height:14.4vw;
	position:fixed;
	bottom:0;
	background-color:#FFFFFF;
}

.navBtn{
	width:24.5vw;
	height: 100%;
	padding:2.9vw 0;
	text-align:center;
	float:left;
}

.navBtn>img{
	width: 5.25vw;
	height: 5.25vw;
}

.navBtn>span{
	font-size:3vw;
	position:relative;
	bottom:1vw;
	right:.7vw;
	color:#9F9F9F;
}

.navBtn:first-child>span{
	color:#338FFF;
}